:root {
    --space: #1da1f2;
    --font-family: 'Roboto Mono', monospace;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: var(--font-family);
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
}
.loader {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}
.loader .loader-logo i {
    font-size: 10rem;
}
.loader .loader-logo p {
    color: var(--space);
    font-size: 2.5rem;
    font-weight: bold;
}
.loaded {
    display: none;
}
.smart-herramientas {
    width: 100%;
    height: 5vh;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
}
.smart-herramientas .hora {
    font-size: 1.6rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-family: var(--font-family);
}
.smart-herramientas-right {
    font-size: 1.6rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem; 
}
.smart-herramientas-right ul li {
    display: inline;
} 
.wrap-navbar {
    width: 70%;
    height: 90vh;
    background-color: #fff;
    position: absolute;
    display: none;
}
.wrap-navbar-show {
    display: block;
}
.wrap-navbar .wrap-navbar-header {
    width: 100%;
    height: 25vh;
    border-bottom: 0.1rem solid lightgrey;
    padding: 2rem;
    font-size: 1.1rem;
}
.wrap-navbar .wrap-navbar-header figure img {
    width: 4.1rem;
}
.wrap-navbar-body {
    width: 100%;
    height: 45vh;
    border-bottom: 0.1rem solid lightgrey;
    padding: 2rem;
    display: flex;
    align-items: center;
}
.wrap-navbar-body ul li ,
.wrap-navbar-footer ul li {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.wrap-navbar-body ul li a,
.wrap-navbar-footer ul li a {
    color: black;
}
.wrap-navbar-footer {
    width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    align-items: center;
}
.space-header {
    width: 100%;
    height: 10vh;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid lightgrey;
}
.space-header-perfil img {
    width: 4.1rem;
}
.fa-user-astronaut {
    color: var(--space);
    font-size: 3rem;
}
.fa-star {
    font-size: 3rem;
    color: lightgrey;
}
.space-body {
    width: 100%;
    height: 70vh;
    border-bottom: 0.1rem solid lightgrey;
}
.post {
    padding: 2rem;
    border-bottom: 0.1rem solid lightgrey;
}
.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.post-header-user p {
    font-weight: bold;
    font-size: 1.1rem;
}
.post-header-user p:nth-child(2) {
    color: grey;
    font-weight: normal;
}
.fa-angle-down {
    color: grey;
}
.post-body {
    width: 90%;
    margin-bottom: 1rem;
} 
.post-footer {
    width: 80%;
    color: grey;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: -0.5rem;
}
.post-footer span i {
    cursor: pointer;
}
.fa-heart {
    color: lightgrey;
}
.fa-heart-like {
    color: red;
}
.respace {
    color: rgb(40, 192, 40);
}
.space-footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.4rem;
    color: rgb(71, 68, 68);
}
.space-footer span i {
    cursor: pointer;
}
.barra-smart {
    width: 100%;
    height: 5vh;
    background-color:lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.barra-smart span .fa-chevron-left {
    font-size: 2rem;
    color: grey;
    cursor: pointer;
}
.barra-smart span .fa-minus {
    font-size: 4rem;
    color: rgb(71, 69, 69);
    cursor: pointer;
}