:root {
    --fontsize: 1.6rem;
    --logo-background: #9cc76b;
    --font-family: 'Roboto Mono', monospace;
    --space: #1da1f2;
    --trello: #2f6ec3;
    --youtube: #ff0000;
    --telegram: #24a1de;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752,#e73c7e,#23a6d5,#2305ab );
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
@keyframes change{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
ul li {
    list-style: none;
}
header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    font-size: var(--fontsize);
    color: #fff;
    font-family: var(--font-family);
}
.header-right {
    margin: 0.4rem;
}
.header-right ul li{
    display: inline-flex;
}
main {
    width: 100%;
    height: 60vh;
    font-size: 3rem;

}
.iconos {
    display: grid;
    justify-items: center;
    grid-row-gap: 2rem;
    grid-template: 25% 25% 25% 25% / repeat(4, 1fr);
}
.fa-trello {
    background-color: var(--trello);
    padding: 1rem;
    border-radius: 4rem; 
    color: #fff;
}
.span-space {
    width: 5rem;
    height: 5rem;
    background-color: var(--space);
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-user-astronaut {
    color: #fff;
}
.fa-github-square {
    font-size: 5rem;
}
.fa-youtube {
    background-color: #fff;
    padding: 1rem;
    border-radius: 4rem;
    color: var(--youtube);
}
.fa-telegram-plane {
    font-size: 3rem;
    background-color: var(--telegram);
    color: #fff;
    padding: 0.7rem;
    border: 0.3rem solid #fff;
    border-radius: 4rem;
}
.simon-dice a figure img{
    width: 5.3rem;
    height: 5.3rem;
}
footer {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fa-phone-square-alt {
    color: rgba(4, 4, 214, 0.767);
    font-size: 4.5rem;
}
.logo {
    background-color: var(--logo-background);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3rem solid #fff;
    border-radius: 4rem;
    cursor: pointer;
    transition: transform .3s;  
}
.logo:hover {
    transform: scale(1.2);
}
.logo:active {
    transform: scale(1.2);
}
.fa-kickstarter-k {
    color: #fff;
    font-size: 2.5rem;
   
}
.chat {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #2305ab;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;

}
.fa-comment-alt {
    color: #fff;
    font-size: 2.5rem;
}
